$calc-theme-dark_color-dark: #0d0d0d;
$calc-theme-dark_color-dark-l: #141414;
$calc-theme-dark_color-dark-l-a2: #1a1a1a;
$calc-theme-dark_color-dark-l-a3: #1c1c1c;
$calc-theme-dark_color-dark-lm: #242424;
$calc-theme-dark_color-gray: #808080;
$calc-theme-dark_color-orange: #dc970c;
$calc-theme-dark_color-orange-l: #ffbf00;
$calc-theme-dark_color-white: #d9d9d9;
$calc-theme-dark_color-white-o3: rgba(255, 255, 255, .3);
