$painter-color-white-o25: hsla(0, 0%, 100%, .25);
$painter-color-white: #ffffff;
$painter-color-white-m: #d9d9d9;
$painter-color-dark: #171717;
$painter-color-dark-m: #212121;
$painter-color-dark-mx: #242424;
$painter-color-dark-l: #3b3b3b;
$painter-color-dark-lx: #4a4a4a;
$painter-color-orange: #f07c42;

$painter-border: 1px solid $painter-color-dark-l;
$painter-border-x: 1px solid $painter-color-dark-lx;
$painter-shadow: 0px 0px 16px $painter-color-dark;
